@include allRules;

header{
    @include header;
    position: relative;

    #header__arrow--position{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 23px;
    }

}




// Image Section
.sectionFood__image--Size{
    width: 100%;
    height: 380px;
}



// Plate Section
.plate{
    position: relative;
    margin-top: -90px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-radius: 50px 50px 0px 0px;
    background-color:#F2F2F2;

    &__title{
        font-family: $titleLogoFont;
        padding: 30px;
        font-size: 28px;
    }
}

.containerEntrance{

    margin-bottom: 15px;

        &__title{
            position: relative;
            padding: 10px;
            padding-left: 18px;
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 15px;

            &::after{
                content:"";
                position: absolute;
                top: 33px;
                left: 18px;
                width: 45px;
                height: 4px;
                background-color: $tertiaryColor;
                z-index: 30;
            }
        }

            &__allCard{
                margin-bottom: -30px;
                padding-bottom: 30px;
            }
}

.cardMenu{
    display: flex;
    position: relative;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 13px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;

            .cardMenu--fontTitlecard > h5:nth-child(1) {
            font-weight: 300;
            font-size: 14px;
        }   
}
.cardMenu__titles{
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.cardMenu__fontTitlecard{
    font-weight: bold;
}

.cardMenu__Subtitle h5{
    font-weight: 300;
    font-size: 14px;
}

.cardMenu__titles h5 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.cardMenu__fontTitlecard h4{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cardMenu:hover .container__animation {
    margin-right: 45px;
    transition: ease-out 700ms;
    
    .animation__check{
    color: white;
    font-size: 25px;
    transform: rotate(180deg);
    animation: rotation ease-in 700ms both;
    -webkit-animation: rotation ease-in 700ms both;
}
}
    @keyframes rotation{
        100%{
            transform: rotate(360deg);     
        }
    }

.cardMenu--flexBoxPrice{
    display: flex;
    align-items: flex-end;
    padding-right: 15px;
}

.container__animation{
    display: flex;
    position: relative;
    margin-right: -13px;
}

.container__animation--iconeAndBg{
    position: absolute;
    right: 0px;
    top: 0;
    margin-right: -58px;
    margin-bottom: 0px;
    margin-top: -13px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 62px; 
    padding: 0px 19px;
    border-radius: 0 15px 15px 0;
    background: $tertiaryColor;
}

.card__firstApparition--opacity{
    animation: apparition 500ms both;
    -webkit-animation: apparition 500ms both;
}
.card__secondApparition--opacity{
    animation: apparition 900ms both;
    -webkit-animation: apparition 900ms both;
}
.card__thirdApparition--opacity{
    animation: apparition 1200ms both;
    -webkit-animation: apparition 1200ms both;
}


@keyframes apparition {
    0%{
        opacity: 0;
        transform: translateY(10%);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}





.button__order{
    @include defaultButton;
    display: block;
    margin: 35px auto;
    margin-top: 50px;
    padding: 18px 50px;
}



.icone__menu{
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 27px;
    cursor: pointer;

        &--bg{
            cursor: pointer;
            position: absolute;
            top: 35px;
            right: 35px;
            font-size: 27px; 
            background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
            background: -webkit-linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;

            &:hover,
            &:active{
                opacity: 1;
                transform: scale(1.14);
                transition: ease-out 300ms;
            }
        }
}

.container__loader{
    position: fixed;
    @include alignFlexBox;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: scaleLoader ease-in-out 2s both;
    animation-iteration-count: 1;
    z-index: 9999;
}

@keyframes scaleLoader {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    99%{
        transform: scale(1);
        opacity: 0.1;
        
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

.dot1{
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primaryColor;
    animation: loader infinite 900ms ease-in alternate-reverse;      
}

.dot2{
    margin: 0 8 px;
    width: 50px;
    height: 50px;
    border-radius: 40%;
    background-color: $secondaryColor;
    animation: loader infinite 900ms ease-out alternate-reverse;
    animation-delay: 100ms;
    } 

.dot3{
    margin: 0 10px;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-color: $tertiaryColor;
    animation: loader infinite 900ms ease-out alternate-reverse;
    animation-delay: 200ms;
}

@keyframes loader {
    100%{
        transform: translateY(-10px);
    }
}