@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
  padding: 20px;
  padding-top: 25px;
  text-align: center;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.section__location {
  height: 3%;
  text-align: center;
  background-color: #f3f3f3;
}
.section__location--font {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.section__location #section__location--position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 17px;
  background-color: #fafafa;
}
.section__presentation--titlePosition {
  max-width: 250px;
  margin-top: 40px;
  text-align: center;
}
.section__presentation--paragraphePosition {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.568);
}

.button__default {
  padding: 15px 25px;
  margin: 25px 0px 60px 0px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  position: relative;
  z-index: 1;
}
.button__default:hover::after {
  opacity: 1;
}
.button__default::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50px;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.8);
  background: linear-gradient(#ff88de, #9b63df);
  transition: 300ms;
}

.section__functioning {
  margin: 45px 30px 50px 17px;
}
.section__functioning--title {
  margin-bottom: 30px;
}
.section__functioning__AllCard {
  margin-left: 15px;
}
.section__functioning--font {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

#section__functioning--card1 {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #f6f6f6;
}
#section__functioning--card1 ::before {
  content: "1";
  position: absolute;
  left: -14px;
  top: 17px;
  padding: 6px 10px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}

#section__functioning--card2 {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #f6f6f6;
}
#section__functioning--card2 ::before {
  content: "2";
  position: absolute;
  left: -14px;
  top: 17px;
  padding: 6px 10px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}

#section__functioning--card3 {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #f6f6f6;
}
#section__functioning--card3 ::before {
  content: "3";
  position: absolute;
  left: -14px;
  top: 17px;
  padding: 6px 10px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}

.fa-mobile-alt:before {
  font-size: 20px;
  margin: 0px 31px 0px 18px;
  color: rgba(0, 0, 0, 0.568);
}

.fa-list:before {
  font-size: 20px;
  margin: 0px 24px 0px 18px;
  color: rgba(0, 0, 0, 0.568);
}

.fa-store::before {
  font-size: 20px;
  margin: 0px 20px 0px 18px;
  color: rgba(0, 0, 0, 0.568);
}

.section__restaurants {
  background-color: #f3f3f3;
  padding-bottom: 40px;
}
.section__restaurants--title {
  padding: 40px 0px 15px 17px;
}

.card {
  width: 91%;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 95px;
  margin-left: 18px;
  border-radius: 20px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.card__image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}
.card__texte {
  position: relative;
  margin-top: -5px;
  padding: 16px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.card .card__text--fontSize {
  font-weight: 300;
}

.card--beforeNew {
  position: relative;
  width: 91%;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 95px;
  margin-left: 18px;
  border-radius: 20px;
  background-color: #f3f3f3;
}
.card--beforeNew::before {
  content: "Nouveau";
  position: absolute;
  top: 12px;
  right: 15px;
  padding: 5px 10px;
  color: #1b6150;
  background-color: #99E2D0;
}

.heart {
  display: flex;
  position: relative;
  bottom: 26px;
  left: 368px;
}

.iconeHeart {
  position: absolute;
  font-size: 27px;
  opacity: 1;
}

.iconeHeart-background {
  font-size: 27px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}

.iconeHeart-background:hover {
  opacity: 1;
  transform: scale();
}

.footer {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  padding: 25px;
  color: white;
  background-color: #353535;
}
.footer__title {
  margin-bottom: 10px;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  color: white;
}
.footer .footer__title--Font {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.footer .fa-utensils:before {
  content: "\f2e7";
  margin-right: 10px;
}
.footer .fa-hands-helping:before {
  content: "\f4c4";
  margin-right: 3px;
}

* {
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
}
header header {
  position: relative;
  padding: 20px;
  padding-top: 25px;
  text-align: center;
}
header #header__arrow--position {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 23px;
}

.sectionFood__image--Size {
  width: 100%;
  height: 380px;
}

.plate {
  position: relative;
  margin-top: -90px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-radius: 50px 50px 0px 0px;
  background-color: #F2F2F2;
}
.plate__title {
  font-family: "Shrikhand", cursive;
  padding: 30px;
  font-size: 28px;
}

.containerEntrance {
  margin-bottom: 15px;
}
.containerEntrance__title {
  position: relative;
  padding: 10px;
  padding-left: 18px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}
.containerEntrance__title::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 18px;
  width: 45px;
  height: 4px;
  background-color: #99E2D0;
  z-index: 30;
}
.containerEntrance__allCard {
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.cardMenu {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  background-color: white;
}
.cardMenu--flexBoxPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-right: 6px;
  font-weight: 500;
}
.cardMenu .cardMenu--fontTitlecard > h5:nth-child(1) {
  font-weight: 300;
  font-size: 14px;
}

.button__order {
  padding: 15px 25px;
  margin: 25px 0px 60px 0px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  display: block;
  margin: 35px auto;
  margin-top: 50px;
  padding: 18px 50px;
}

/*# sourceMappingURL=style.css.map */
