
$textFont: 'Roboto', sans-serif;
$titleLogoFont: 'Shrikhand', cursive;

$primaryColor: #9356DC ;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;

$colorButton: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
